extends layout

block content
  div.container
    div.page-header.text-center
      h1
        span.fa.fa-pie-chart
        | Admin Page
        a.btn.btn-danger.btn-sm(href="/admin/logout") Logout
      a.btn.btn-default.btn-sm(href="#/rsvps") rsvps
      a.btn.btn-default.btn-sm(href="#/advice") advice
      a.btn.btn-default.btn-sm(href="#/songs") songs
    div.row
      div.col-sm-12
        div(ng-view)
        
