<div class="well">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"> Filter</div>
      <input class="form-control" ng-model="query">
    </div>
  </div>
  <h4 class="text-muted"> TOTAL: {{filtered.length}}</h4>
  <div class="table-responsive">
    <table class="table table-striped">
      <tr class="text-muted">
        <th><a href="" ng-click="sortField = 'firstName' ; reverse = !reverse"> First Name</a></th>
        <th><a href="" ng-click="sortField = 'lastName' ; reverse = !reverse"> Last Name</a></th>
        <th> Email</th>
        <th> Assist</th>
        <th><a href="" ng-click="sortField = 'sleepPref' ; reverse = !reverse">Sleep Pref</a></th>
      </tr>
      <tr class="text-muted" ng-repeat="rsvp in filtered = (rsvps | filter:query | orderBy:sortField:reverse) track by $index">
        <td> {{rsvp.firstName}}</td>
        <td> {{rsvp.lastName}}</td>
        <td> {{rsvp.email}}</td>
        <td ng-show="{{rsvp.assist}}"> YES</td>
        <td ng-hide="{{rsvp.assist}}"> NO</td>
        <td> {{rsvp.sleepPref}}</td>
        <td> <button class="btn btn-danger" ng-click="removeRsvp(rsvp._id)"> Delete</td>
      </tr>
    </table>
  </div>
</div>
