<div class="well">
<div class="form-group">
  <div class="input-group">
    <div class="input-group-addon"> Filter</div>
    <input class="form-control" ng-model="query">
  </div>
</div>
<h3> Songs</h3>
<div ng-repeat="song in musicList | filter:query | orderBy: '-created'">
  <h5 class="text-primary advice-name">{{song.artist}} <small> {{song.title}}</small>
    <span><button class="btn btn-danger" ng-click="removeSong(song._id)"> Delete</button></span>
  </h5>
  <p class="text-muted advice-content">{{song.name}}</p>
  <hr>
</div>
</div>
