extends layout

block content
  div.container
    div.page-header.text-center
      h1
        span.fa.fa-pie-chart
        | Admin Page
      a.btn.btn-default.btn-sm(href="/admin/logout") Logout
    div.row
      div.col-sm-12
        div.well(ng-controller="rsvpCtrl")
          table.table.table-striped
            tr.text-muted
              th
                a(href="" ng-click="sortField = 'firstName' ; reverse = !reverse") First Name
              th 
                a(href="" ng-click="sortField = 'lastName' ; reverse = !reverse") Last Name
              th Email
              th
                a(href="" ng-click="sortField = 'sleepPref' ; reverse = !reverse") Sleep Pref
            tr.text-muted(ng-repeat="rsvp in rsvps | filter:query | orderBy:sortField:reverse track by $index")
              td {{rsvp.firstName}}
              td {{rsvp.lastName}}
              td {{rsvp.email}}
              td {{rsvp.sleepPref}}
              td
                button.btn.btn-danger(ng-click="removeRsvp(rsvp._id)") Delete
