extends layout

block content
  div.container
    div.page-header.text-center
      h1
        span.fa.fa-pie-chart
        | Admin Page
      a.btn.btn-default.btn-sm(href="/admin/logout") Logout
    div.row
      div.col-sm-12
        div.well(ng-controller="rsvpCtrl")
          table.table.table-striped
            tr.text-muted
              th First Name
              th Last Name
              th Email
              th Sleep Pref
            tr.text-muted(ng-repeat="rsvp in rsvps track by $index")
              td {{rsvp.firstName}}
              td {{rsvp.lastName}}
              td {{rsvp.email}}
              td {{rsvp.sleepPref}}
              td
                button.btn.btn-danger(ng-click="removeRsvp(rsvp._id)") Delete
