doctype html
html(ng-app="weddingApp")
  head
    meta(http-equiv="content-type" content="text/html;charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='author', content='')
    title Jamie and Jorge | Wedding website
    style
      [data-sr] {visibility: hidden;}
    // Bootstrap Core CSS
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    // Custom CSS
    link(href='/stylesheets/style.css', rel='stylesheet')
    // Custom Fonts
    link(href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Slabo+27px:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Fredericka+the+Great', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(href='/stylesheets/animate.min.css', rel='stylesheet', type='text/css')
    link(rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png")
    //link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    //link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9 <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
    block content
    // Angular
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.min.js')
    script(src='/javascripts/angular-file-upload-shim.min.js')
    script(src='/javascripts/angular-file-upload.min.js')
    script(src='/javascripts/angular-flash.min.js')
    script(src='/javascripts/angular-youtube-embed.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/js/ngDialog.min.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/controllers.js')
    script(src='/javascripts/services.js')
    script(src='/javascripts/scrollReveal.js')
    // Bootstrap Core JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap.min.js')
    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    // Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false')
    // Custom Theme JavaScript
    script(src='javascripts/ui.js')
